.son-index-sort {
	width: auto;
	height: 88px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
	background: white;
	li {
		width: 25%;
		padding-top: 10px;
		i {
			display: block;
			height: 40px;
			width: 40px;
			margin: auto;
			border-radius: 50%;
			&::before {
				display: block;
				color: white;
				font-size: 20px;
				line-height: 40px;
				text-align: center;
			}
		}
		span {
			display: block;
			font: 12px / 38px '';
			text-align: center;
		}
	}	
}