<ul id="navbar">
	<li routerLink='/mobile/' routerLinkActive='activeLinkClass'  [routerLinkActiveOptions]="{exact: routerExact}">
		<i class="iconfont  icon-wxbmingxingdianpu"></i>
		<span>商城</span>
	</li>
	<li  routerLink='/mobile/headlines'  routerLinkActive='activeLinkClass' >
		<i class="iconfont  icon-text"></i>
		<span>头条</span>
	</li>
	<li  routerLink='/mobile/home'  routerLinkActive='activeLinkClass' >
		<i class="iconfont  icon-comments"></i>
		<span>社区</span>
	</li>
	<li  routerLink='/mobile/cart'  routerLinkActive='activeLinkClass' >
		<i class="iconfont  icon-iconfontyejinkuangchan"></i>
		<span>购物车</span>
	</li>
	<li  routerLink='/mobile/mine'  routerLinkActive='activeLinkClass' >
		<i class="iconfont icon-cart"></i>
		<span>我的</span>
	</li>
</ul>

