.headlines-content-child {
	width: 100%;
	padding-bottom: 90px;
	li {
		width: auto;
		height: 84px;
		border-top: 1px solid #ccc;
		display: flex;
		align-items: center;
		padding-left: 15px;
		background: white;
		&:last-child {
			border-bottom: 1px solid #ccc;
		}
		.headlines-content-child-left {
			height: 100%;
			width: 90px;
			margin-right: 15px;
			img {
				display: block;
				height: 55px;
				width: 90px;
				margin-top: 15px;
			}
		}
		.headlines-content-child-right {
			dt {
				font: 14px / 20px '';
				color: #333;
				margin-bottom: 4px;
			}
			dd {
				font: 12px / 20px '';
				color: #ccc;
				i {
					font-style: normal;
					margin-right: 14px;
				}
			}
		}
	}
}